p {
    font-family: Roboto, sans-serif;
}

@media only screen and (max-width: 500px) {
    .text-only {
        display: none;
    }
    h1 {
        font-size: 10px;
    }
}

@media only screen and (max-width: 390px) {
    .text-only {
        display: block;
    }
    .icon-only {
        display: none;
    }
    h1 {
        font-size: 10px;
    }
}

.special {
    text-decoration: underline;
}